@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,700&display=swap');

body {
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5rem;
}
a {
    color: #fff	;
    text-decoration: none;
}